<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
        {% for post in site.posts  reversed %}
          {% if post.url contains page.url %}

            <div class="site-footer"/>
            <p>{{ post.date | date: "%Y-%m-%d" }}</p>
            <p>{{ post.content }}</p>
          {% endif %}
        {% endfor %}
        {% if page.comments_id %}
        {% include comments.html %}
        {% endif %}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
